---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "astro:assets";
import { renderRichText } from "@storyblok/astro";
import { enCA, enUS, frCA, getLangFromUrl } from "strings/routing";

type BlogPost = {
    title: string;
    date: string; // '2022-08-31 13:03'
    tags: string; //
    image: { title: string; filename: string; alt: string };
    author: string;
    slug: string;
    full_slug: string;
};

type Props = {
    blogPost: BlogPost;
    slug: string;
};

const { blogPost, slug } = Astro.props;
const content = renderRichText(blogPost.content);

const language = getLangFromUrl(Astro.url);
const baseUrl = `/${language}`;
const strings = {
    [enCA]: {
        backToBlock: "Back to Blog",
    },
    [enUS]: {
        backToBlock: "Back to Blog",
    },
    [frCA]: {
        backToBlock: "Retour au blog",
    },
};
const s = strings[language];
---

<Layout>
    <Container>
        <div class="mx-auto max-w-3xl text-center mt-14">
            <span
                class="text-blue-400 uppercase tracking-wider text-sm font-medium"
            >
                {blogPost.category}
            </span>
            <h1
                class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
            >
                {blogPost.title}
            </h1>
            <div
                class="flex gap-2 mt-3 items-center justify-center text-sm flex-wrap md:flex-nowrap"
            >
                <span class="text-grey-text">
                    {blogPost.author}
                </span>
                <time
                    class="text-grey-text"
                    datetime={new Date(blogPost.date).toISOString()}
                >
                    {new Date(blogPost.date).toDateString()}
                </time>
                <span class="text-grey-text hidden md:block">•</span>
                <div
                    class="w-full md:w-auto flex flex-wrap justify-center gap-3"
                >
                    {
                        blogPost.tags
                            .split(" ")
                            .map((tag) => (
                                <span class="text-sm text-grey-text">
                                    #{tag}
                                </span>
                            ))
                    }
                </div>
            </div>
        </div>
        <div class="mx-auto max-w-4xl">
            <Picture
                formats={["avif", "webp"]}
                src={blogPost.image.filename}
                alt="Feature image"
                width="1280"
                height="800"
                class="h-full w-full object-contain rounded-xl mt-6"
                transition:name={`post-img-${slug}`}
            />
        </div>

        <div
            class="mx-auto prose mt-6 max-w-3xl prose-headings:mb-2 prose-headings:mt-8"
        >
            <Fragment set:html={content} />
        </div>
        <div class="text-center mt-12">
            <a
                href=`${baseUrl}/blog`
                class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
                >← {s.backToBlock}</a
            >
        </div>
    </Container>
</Layout>
