---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagination from "@components/pagination.astro";
import { getLangFromUrl, enCA, enUS, frCA, routes } from "strings/routing";
import ArtsaiPixelForNonProductPages from "@components/artsaiPixelForNonProductPages.astro";

type Announcement = {
  title: string;
  date: string; // '2022-08-31 13:03'
  logo: { filename: string; alt: string };
  image: { title: string; filename: string; alt: string };
  slug: string;
  full_slug: string;
};
type Props = {
  page: any; // Astro data from pagination.
};
const language = getLangFromUrl(Astro.url);
const strings = {
  [enCA]: {
    title: "Announcements",
    press: "Press",
    announcements: "Announcements",
    company: "Goose",
  },
  [enUS]: {
    title: "Announcements",
    press: "Press",
    announcements: "Announcements",
    company: "SmartBunny",
  },
  [frCA]: {
    title: "Goose dans la presse",
    press: "presse",
    announcements: "annonces",
    company: "Goose",
  },
};
const s = strings[language];
const { news, announcements } = routes[language];
const baseUrl = `/${language}`;

const { page } = Astro.props;
---

<Layout title={s.announcements}>
  <ArtsaiPixelForNonProductPages />
  <Container>
    <h1
      class="w-full text-center p-6 text-4xl lg:text-5xl font-bold lg:tracking-tight text-night-sky"
    >
      {s.title}
    </h1>
    <div class="flex w-full justify-center gap-10 text-[0.8rem]">
      <a href=`${baseUrl}/${news}`>
        <button class="text-grey-text rounded-full px-8 py-2 border">
          {s.press}
        </button>
      </a>
      <a>
        <button class="text-white bg-dark-pink rounded-full px-8 py-2">
          {s.announcements}
        </button>
      </a>
    </div>
    <main class="mt-16">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16">
        {
          page.data.map((post, index) => (
            <li>
              <a href={`${baseUrl}/${announcements}/${post.slug}`}>
                <div>
                  <Picture
                    formats={["avif", "webp"]}
                    src={post.image.filename}
                    alt={post.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover"
                    transition:name={`post-img-${post.slug}`}
                  />
                  <div class="">
                    <h2
                      class="text-night-sky text-xl font-semibold leading-snug tracking-tight mt-1"
                      transition:persist
                    >
                      {post.title}
                    </h2>

                    <div class="flex gap-2 mt-1 text-sm">
                      <time
                        class="text-grey-text"
                        datetime={new Date(post.date).toISOString()}
                      >
                        {s.company} • {new Date(post.date).toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Pagination url={page.url} />
    </main>
  </Container>
</Layout>
